name: Build docker image

on:
  push:
    branches:
      - master
      - 4.x

    tags:
      - '*'

  pull_request:

env:
  WORDPRESS6: '6.9.1'


  # skip a few lines to avoid conflicts.
  BASE_IMAGE_STABILITY_TAG: 4.75.3

jobs:
  build:
    strategy:
      matrix:
        php: [ '8.5', '8.4', '8.3', '8.2', '8.1' ]
        arch:
          - amd64
          - arm64
        include:
          - arch: amd64
            runner: ubuntu-24.04
          - arch: arm64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: build and push
        env:
          WORDPRESS_VER: ${{ env.WORDPRESS6 }}
          PHP_VER: ${{ matrix.php }}
          ARCH: ${{ matrix.arch }}
        run: |
          make
          make test
          make push

  push:
    runs-on: ubuntu-latest
    needs:
      - build
    strategy:
      matrix:
        php: [ '8.5', '8.4', '8.3', '8.2', '8.1' ]
        include:
          # here we assume we have only one major version of WordPress, so all these "latest" tags applied on the last PHP version.
          - php: '8.5'
            latest: '1'
            latest_major_php: '1'
            latest_php: '1'
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: ./.github/actions
        with:
          version: ${{ env.WORDPRESS6 }}
          php: ${{ matrix.php }}
          latest: ${{ matrix.latest }}
          # here we assume we have only one major version of WordPress, so it's always the latest major.
          latest_major: 1
          latest_php: ${{ matrix.latest_php }}
          latest_major_php: ${{ matrix.latest_major_php }}
